{% extends "base.html" %}
{% block content %}
    <div class="container">
        <h3 class="white-text green darken-2">Add Genre</h3>
        <hr>

        <div class="row card-panel grey lighten-5">
            <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_genre') }}">
                <!-- name box -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix green-text text-darken-2"></i>
                        <textarea id="name" name="name" minlength="5" maxlength="20"
                            class="materialize-textarea validate"></textarea>
                        <label for="name">Name of Genre</label>
                    </div>
                </div>
                <!-- description box -->
                <div class="row">
                    <div class="input-field col s12">
                        <i class="fas fa-align-left prefix green-text text-darken-2"></i>
                        <textarea id="description" name="description" minlength="5" maxlength="300"
                        class="materialize-textarea validate"></textarea>
                        <label for="description">Description of Genre</label>
                    </div>
                </div>
                <!-- submit button -->
                <div class="row">
                    <div class="col s12 center-align">
                        <button type="submit" class="btn-large green darken-2">
                            Submit Genre
                            <i class="fas fa-plus-square right"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}